{# templates/categorie/liste_categories.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Liste des Catégories</title>
</head>
<body>
    <h1>Liste des Catégories</h1>

    <ul>
        {% for categorie in categories %}
            <li>
                <a href="{{ path('app_categories', {'categorieId': categorie.id}) }}">
                    {{ categorie.nom }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
