{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <a href="{{ path('app_categories') }}"> Lister categories</a>

    <a href="{{ path('app_logout') }}"> deconnexion</a>
{% endblock %}